<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Top Players</h1>
        <ul>
            {% for player in players %}
            <li>{{ player['telegram_id'] }}: {{ player['balance'] }} монет</li>
            {% endfor %}
        </ul>
        <p><a href="{{ url_for('index', id=telegram_id) }}">Назад</a></p>
    </div>
</body>
</html>
